# Police Dataset
**data from police checkpost is given** </br>
**data is available in csv format and going to analyze using pandas library**

In [3]:
# importing pandas

import pandas as pd

In [4]:
# reading police csv file , using 'r' to remove unicode error

police = pd.read_csv(r'police_data.csv')

## 1. Remove column that only contains missing values

In [5]:
# checking columns with null values

police.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [6]:
# removing null column

police.drop( columns = 'country_name', inplace=True)

In [7]:
police.head(2)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

## 2. For speeding were men or women stopped more often ?

In [8]:
# using value_counts() function to check counts of speeding voilation

police[police.violation == 'Speeding'].driver_gender.value_counts()

M    25517
F    11686
Name: driver_gender, dtype: int64

<!-- ## 3. Does gender affects who gets searched during a stop   -->

## 3. Does gender affect who gets searched during a stop ?

In [9]:
# using groupby() to split data into 'driver_gender'

police.groupby('driver_gender').search_conducted.sum()

driver_gender
F     366
M    2113
Name: search_conducted, dtype: int64

In [10]:
# number of times search was conducted

police.search_conducted.value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

## 4. What is mean stop_duration?

In [11]:
# using value_counts() to check types of values

police.stop_duration.value_counts()

0-15 Min     47379
16-30 Min    11448
30+ Min       2647
2                1
Name: stop_duration, dtype: int64

In [12]:
# data types of different column

police.dtypes

stop_date              object
stop_time              object
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [37]:
# converting 'stop_duration' object to integer

police['stop_duration'] = police['stop_duration'].map({'0-15 Min' : 7.5, '16-30 Min' : 24 , '30+ Min' : 45})

In [38]:
police.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,24.0,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,7.5,False

In [39]:
# finding mean of 'stop_duarion' column

police['stop_duration'].mean()

12.187420698181345

## 5. Compare the age distribution for each voilation

In [40]:
# using group_by() function on 'violation' column and describe() to show all the stats 

police.groupby('violation').driver_age.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0